@use "../../styles/variables.scss" as v;

.projects {
  width: 100%;

  @media only screen and (min-width: v.$desktop) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }
}

.inner {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: v.$desktop) {
    width: calc(100% - v.$mobile - v.$gap * 3);
  }

  @media only screen and (min-width: v.$desktop-extra-wide) {
    width: calc(100% - 900px - v.$gap * 3);
  }
}
