@use "sass:math";

$mobile: 768px;
$desktop: 1280px;
$desktop-wide: 1440px;
$desktop-extra-wide: 1920px;

$font-family: "DM Sans", sans-serif;
$font-family-mono: "Roboto Mono", monospace;
$font-family-title: "Gugi", sans-serif;
$font-family-display: "Gaegu", sans-serif;

$gap: 16px;
$gap-half: math.div($gap, 2);
$gap-fourth: math.div($gap, 4);

$lh: 1.4;

$color-black: #0d0a07;
$color-white: #ffffff;
$color-off-white: #f4ede1;
$color-blue: #146c94;
$color-pink: #ffb6b9;
$color-peach: #fae3d9;
